{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Economy</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Revenues</a>
        </li>
        <li>
          <a class="nav-link" href="#">Expenses</a>
        </li>
        <li>
          <a class="nav-link" href="#">Services</a>
        </li>
        <li>
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
      <div class="mr-0 navbar-nav">
          {% if request.user.is_authenticated  %}
              <li class="nav-item"> Hi, <a class="nav-link" href="#"> {{ request.user.first_name }} </a> </li>
          {% else %}
              <li class="nav-item"> <a class="nav-item" href="#"> Login </a> </li>
          {% endif %}
      </div>
    </div>
  </nav>

  <div>
      {% block content %}

      {% endblock %}
  </div>

  <div class="scripts">
      <script src="{% static 'jquery/jquery-3-4-1.min.js' %}"></script>
      <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
  </div>

  </body>
</html>
